<!--<h1>Login:</h1>

<div id="maschera login">
  <label for="mail">Mail</label>
  <input type="text" id="mail" ><br>
  <label for="password">Password</label>
  <input type="password" id="password"><br>
  <button id="submit">Submit</button>
</div>-->
<header>
  <div id="div-header" >
    <!-- metti link per andare alla home tramite logo, nice to have?-->

    <img class="medium-size-element" src="../assets/images/logo.jpg" width=75px height=75px%  alt="logo_icon">

    <!--<button routerLink="/login" routerLinkActive="active" [skipLocationChange]=true>LOGIN</button>
    <button routerLink="/login" routerLinkActive="active" [skipLocationChange]=true>REGISTER</button>-->



    <!--<button mat-stroked-button (click)="openSurveyList()">SurveyList</button>-->
  </div>
</header>

<router-outlet></router-outlet>

<footer>Scritte nel footer</footer>




